.home{
    background-image: url('https://images.unsplash.com/photo-1618477247222-acbdb0e159b3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8cmVhY3R8fHx8fHwxNjgxNTYyNzI2&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.qoute{
    background-image: url('https://source.unsplash.com/random/900×700/?qoute');
    height: 87vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}
.card{
    opacity: 1;   /* 0.7 */
    padding: 10px;
}
.contact{
    height: 100vh;
    display: flex;
    align-items: center;
}
img{
    margin: 10px 0px;
}
.part{
    display: flex;
    justify-content: center;
}
.descri-part{
    padding: 15px;
}
.bg-body-tertiary {
    padding: 0px 20px;
}
.bgImage{
    background-image: url('https://source.unsplash.com/random/900×700/?nature');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imggs{
    width: 73%;
    /* padding: 100px 100px 0px 100px; */
    border: 1px solid black;
}
.upperQuote{
    display: flex;
}
.quote-main{
   display: flex;
   overflow: hidden;
  }
  .quote-main span{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.qouteNews{
    background-color: rgb(241, 232, 232);
    color: rgb(12, 11, 11);
    display: flex;
    justify-content: center;
    padding: 49px;
    
}
.qouteNews form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.qouteNews span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.aboutQoute{
  padding: 10px;
}
.newName{
    width: 20%;
}
.wordLimit{
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 3;
    -webkit-box-orient :vertical;
    overflow: hidden;
}
.wordLimitside{
  position: fixed;
  right: 40px;  
  bottom: 10px;
  top: 2;
}
.wordLimitside7{
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 1;
    -webkit-box-orient :block-axis;
    overflow: hidden;
}
.uiNews{
    position: relative;
    display: flex;
    padding: 10px 20px;
    padding-left: 80px;
    justify-content: space-between;
}

.marPad{
    padding-top: 10px;
}
.closedBtn{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    margin: 0px;
}
.btnmargin{
    margin: 0;
}
.ShowHide{
    display: none;
}
@media (max-width : 1330px) {
    .HideShow_side{
        display: none;
    }
}
@media (max-width : 768px) {
    .HideShow{
        display: none;
    }
    .ShowHide{
        display: block;
    }
    .MobilePadding{
        padding: 10px;
    }
    .newName{
        width: 100%;
    }
    .qoute{
        height: 100vh; 
    }
    .marPad{
        padding: 5px 20px;
        margin: 0px;
    }
    .quote{
      flex-direction: column;
    }
    .qouteNews{
        padding: auto;
        flex-direction: column ;
    }
    .qouteNews form{
        width: 100%;
    
    }
    .qouteNews span{
        width: 100%;
    }
    .imggs{
        width: 50%;
        padding: 0px
    }
    
}