.home{
    background-image: url('https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&w=600');
    height: 86vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.qoute{
    background-image: url('https://source.unsplash.com/random/900×700/?qoute');
    height: 87vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}
.card{
    opacity: 1;   /* 0.7 */
    padding: 10px;
}
.contact{
    height: 100vh;
    display: flex;
    align-items: center;
}
img{
    margin: 10px 0px;
}
.part{
    display: flex;
    justify-content: center;
}
.descri-part{
    padding: 15px;
}
.bg-body-tertiary {
    padding: 0px 20px;
}
.bgImage{
    background-image: url('https://source.unsplash.com/random/900×700/?nature');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imggs{
    width: 73%;
    padding: 100px 100px 0px 100px;
}
.qouteNews{
    background-color: rgb(119, 97, 97);
    color: white;
    display: flex;
    justify-content: center;
    height: 86vh;
    
}
.qouteNews form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.qouteNews span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.aboutQoute{
  padding: 10px;
}
.newName{
    width: 20%;
}
.wordLimit{
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 3;
    -webkit-box-orient :vertical;
    overflow: hidden;
}
.wordLimitside{
  position: fixed;
  right: 40px;  
  bottom: 10px;
  top: 2;
}
.wordLimitside7{
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 1;
    -webkit-box-orient :block-axis;
    overflow: hidden;
}
.uiNews{
    position: relative;
    display: flex;
    padding: 10px 20px;
    padding-left: 80px;
    justify-content: space-between;
}

.marPad{
    padding-top: 10px;
}
@media (max-width : 768px) {
    .HideShow{
        display: none;
    }
    .MobilePadding{
        padding: 10px;
    }
    .newName{
        width: 100%;
    }
    .qoute{
        height: 100vh; 
    }
    .marPad{
        padding: 5px 20px;
        margin: 0px;
    }
    .qouteNews{
        flex-direction: column-reverse ;
    }
    .qouteNews form{
        width: 100%;
    
    }
    .qouteNews span{
        width: 100%;
    }
    .imggs{
        width: 50%;
        padding: 0px
    }
    
}